<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.BaseDeviceMapper">
	<resultMap id="baseResultMap" type="com.frd.model.BaseDevice">
		<result column="rowid" property="rowid" />
		<result column="devicecode" property="devicecode" />
		<result column="devicename" property="devicename" />
		<result column="devicetype" property="devicetype" />
		<result column="standard" property="standard" />
		<result column="status" property="status" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addBaseDevice" parameterType="com.frd.model.BaseDevice" >
		insert into base_device (
        devicecode,
        devicename,
        devicetype,
        standard,
        status,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{devicecode},
        #{devicename},
        #{devicetype},
        #{standard},
        #{status},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteBaseDevice">
		delete from base_device 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneBaseDevice" resultType="com.frd.model.BaseDevice">
		select * from base_device where rowid=#{rowid}
	</select>
    <select id="getAllBaseDevice" resultMap="baseResultMap" >
		select * from base_device 
   <where>
		<if test="cm.devicename != null and cm.devicename != ''">
		and devicename like CONCAT('%',#{cm.devicename},'%')
		</if>
		<if test="cm.devicecode != null and cm.devicecode != ''">
		and devicecode like CONCAT('%',#{cm.devicecode},'%')
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateBaseDevice">
		update base_device 
        set 
        devicecode=#{devicecode},
        devicename=#{devicename},
        devicetype=#{devicetype},
        standard=#{standard},
        status=#{status},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>