<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.boxgw">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.boxgw">
		select * from box_gw where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.boxgw"  resultType="com.frd.model.boxgw">
		select * from box_gw where
        boxcode=#{boxcode} and
        boxname=#{boxname} and
        gwtime=#{gwtime} and
        gw=#{gw} and
        remark=#{remark} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.boxgw" >
		insert box_gw （
        boxcode,
        boxname,
        gwtime,
        gw,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{boxcode},
        #{boxname},
        #{gwtime},
        #{gw},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update box_gw 
        set 
        boxcode=#{boxcode},
        boxname=#{boxname},
        gwtime=#{gwtime},
        gw=#{gw},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete box_gw 
        where rowid=#{rowid}
	</delete>
</mapper>