<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.CargoOrderMapper">
	<resultMap id="baseResultMap" type="com.frd.model.CargoOrder">
		<result column="rowid" property="rowid" />
		<result column="orderno" property="orderno" />
		<result column="origin" property="origin" />
		<result column="destination" property="destination" />
		<result column="customer" property="customer" />
		<result column="tel" property="tel" />
		<result column="startdt" property="startdt" />
		<result column="enddt" property="enddt" />
		<result column="gw" property="gw" />
		<result column="cbm" property="cbm" />
		<result column="cargotype" property="cargotype" />
		<result column="remark" property="remark" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addCargoOrder" parameterType="com.frd.model.CargoOrder" >
		insert into cargo_order (
        orderno,
        origin,
        destination,
        customer,
        tel,
        startdt,
        enddt,
        gw,
        cbm,
        cargotype,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{orderno},
        #{origin},
        #{destination},
        #{customer},
        #{tel},
        #{startdt},
        #{enddt},
        #{gw},
        #{cbm},
        #{cargotype},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteCargoOrder">
		delete from cargo_order 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneCargoOrder" >
		select * from cargo_order where rowid=#{rowid}
	</select>
    <select id="getAllCargoOrder" resultMap="baseResultMap" >
		select * from cargo_order 
   <where>
		<if test="cm.boxcode != null and cm.boxcode != ''">
		and boxcode like CONCAT('%',#{cm.boxcode},'%')
		</if>
		<if test="cm.boxname != null and cm.boxname != ''">
		and boxname like CONCAT('%',#{cm.boxname},'%')
		</if>
		<if test="cm.boxtype != null and cm.boxtype != ''">
		and boxtype like CONCAT('%',#{cm.boxtype},'%')
		</if>
		<if test="cm.startDate != null and cm.startDate != ''">
		and createdt &gt; = #{cm.startDate}
		</if>
		<if test="cm.endDate != null and cm.endDate != ''">
		and createdt &lt; = #{cm.endDate}
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateCargoOrder">
		update cargo_order 
        set 
        orderno=#{orderno},
        origin=#{origin},
        destination=#{destination},
        customer=#{customer},
        tel=#{tel},
        startdt=#{startdt},
        enddt=#{enddt},
        gw=#{gw},
        cbm=#{cbm},
        cargotype=#{cargotype},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>