<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.ColdHubMapper">
	<resultMap id="baseResultMap" type="com.frd.model.ColdHub">
		<result column="rowid" property="rowid" />
		<result column="hubcode" property="hubcode" />
		<result column="hubname" property="hubname" />
		<result column="status" property="status" />
		<result column="mintemp" property="mintemp" />
		<result column="maxtemp" property="maxtemp" />
		<result column="minhum" property="minhum" />
		<result column="maxhum" property="maxhum" />
		<result column="remark" property="remark" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addColdHub" parameterType="com.frd.model.ColdHub" >
		insert into cold_hub (
        hubcode,
        hubname,
        status,
        mintemp,
        maxtemp,
        minhum,
        maxhum,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{hubcode},
        #{hubname},
        #{status},
        #{mintemp},
        #{maxtemp},
        #{minhum},
        #{maxhum},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteColdHub">
		delete from cold_hub 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneColdHub"  resultType="com.frd.model.ColdHub">
		select * from cold_hub where rowid=#{rowid}
	</select>
    <select id="getAllColdHub" resultMap="baseResultMap" >
		select * from cold_hub 
   <where>
		<if test="cm.boxcode != null and cm.boxcode != ''">
		and boxcode like CONCAT('%',#{cm.boxcode},'%')
		</if>
		<if test="cm.boxname != null and cm.boxname != ''">
		and boxname like CONCAT('%',#{cm.boxname},'%')
		</if>
		<if test="cm.boxtype != null and cm.boxtype != ''">
		and boxtype like CONCAT('%',#{cm.boxtype},'%')
		</if>
		<if test="cm.startDate != null and cm.startDate != ''">
		and createdt &gt; = #{cm.startDate}
		</if>
		<if test="cm.endDate != null and cm.endDate != ''">
		and createdt &lt; = #{cm.endDate}
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateColdHub">
		update cold_hub 
        set 
        hubcode=#{hubcode},
        hubname=#{hubname},
        status=#{status},
        mintemp=#{mintemp},
        maxtemp=#{maxtemp},
        minhum=#{minhum},
        maxhum=#{maxhum},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>