<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.ColdPointMapper">
	<resultMap id="baseResultMap" type="com.frd.model.ColdPoint">
		<result column="rowid" property="rowid" />
		<result column="pointcode" property="pointcode" />
		<result column="pointname" property="pointname" />
		<result column="pointtype" property="pointtype" />
		<result column="status" property="status" />
		<result column="hubcode" property="hubcode" />
		<result column="remark" property="remark" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addColdPoint" parameterType="com.frd.model.ColdPoint" >
		insert into cold_point (
        pointcode,
        pointname,
        pointtype,
        status,
        hubcode,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{pointcode},
        #{pointname},
        #{pointtype},
        #{status},
        #{hubcode},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteColdPoint">
		delete from cold_point 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneColdPoint"  resultType="com.frd.model.ColdPoint" >
		select * from cold_point where rowid=#{rowid}
	</select>
    <select id="getAllColdPoint" resultMap="baseResultMap" >
		select * from cold_point 
   <where>
		<if test="cm.pointcode != null and cm.pointcode != ''">
		and pointcode like CONCAT('%',#{cm.pointcode},'%')
		</if>
		<if test="cm.pointname != null and cm.pointname != ''">
		and pointname like CONCAT('%',#{cm.pointname},'%')
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateColdPoint">
		update cold_point 
        set 
        pointcode=#{pointcode},
        pointname=#{pointname},
        pointtype=#{pointtype},
        status=#{status},
        hubcode=#{hubcode},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>