<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.coldpoint">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.coldpoint">
		select * from cold_point where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.coldpoint"  resultType="com.frd.model.coldpoint">
		select * from cold_point where
        pointcode=#{pointcode} and
        pointname=#{pointname} and
        pointtype=#{pointtype} and
        status=#{status} and
        hubcode=#{hubcode} and
        remark=#{remark} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.coldpoint" >
		insert cold_point （
        pointcode,
        pointname,
        pointtype,
        status,
        hubcode,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{pointcode},
        #{pointname},
        #{pointtype},
        #{status},
        #{hubcode},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update cold_point 
        set 
        pointcode=#{pointcode},
        pointname=#{pointname},
        pointtype=#{pointtype},
        status=#{status},
        hubcode=#{hubcode},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete cold_point 
        where rowid=#{rowid}
	</delete>
</mapper>