<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.ColdWarnMapper">
	<resultMap id="baseResultMap" type="com.frd.model.ColdWarn">
		<result column="rowid" property="rowid" />
		<result column="warncode" property="warncode" />
		<result column="warnname" property="warnname" />
		<result column="warntype" property="warntype" />
		<result column="threshold" property="threshold" />
		<result column="notifytype" property="notifytype" />
		<result column="notifyinterval" property="notifyinterval" />
		<result column="notifyaddr" property="notifyaddr" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addColdWarn" parameterType="com.frd.model.ColdWarn" >
		insert into cold_warn (
        warncode,
        warnname,
        warntype,
        threshold,
        notifytype,
        notifyinterval,
        notifyaddr,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{warncode},
        #{warnname},
        #{warntype},
        #{threshold},
        #{notifytype},
        #{notifyinterval},
        #{notifyaddr},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteColdWarn">
		delete from cold_warn 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneColdWarn"  resultType="com.frd.model.ColdWarn" >
		select * from cold_warn where rowid=#{rowid}
	</select>
    <select id="getAllColdWarn" resultMap="baseResultMap" >
		select * from cold_warn 
   <where>
		<if test="cm.warncode != null and cm.warncode != ''">
		and warncode like CONCAT('%',#{cm.warncode},'%')
		</if>
		<if test="cm.warnname != null and cm.warnname != ''">
		and warnname like CONCAT('%',#{cm.warnname},'%')
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateColdWarn">
		update cold_warn 
        set 
        warncode=#{warncode},
        warnname=#{warnname},
        warntype=#{warntype},
        threshold=#{threshold},
        notifytype=#{notifytype},
        notifyinterval=#{notifyinterval},
        notifyaddr=#{notifyaddr},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>