<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.coldhub">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.coldhub">
		select * from cold_hub where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.coldhub"  resultType="com.frd.model.coldhub">
		select * from cold_hub where
        hubcode=#{hubcode} and
        hubname=#{hubname} and
        status=#{status} and
        mintemp=#{mintemp} and
        maxtemp=#{maxtemp} and
        minhum=#{minhum} and
        maxhum=#{maxhum} and
        remark=#{remark} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.coldhub" >
		insert cold_hub （
        hubcode,
        hubname,
        status,
        mintemp,
        maxtemp,
        minhum,
        maxhum,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{hubcode},
        #{hubname},
        #{status},
        #{mintemp},
        #{maxtemp},
        #{minhum},
        #{maxhum},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update cold_hub 
        set 
        hubcode=#{hubcode},
        hubname=#{hubname},
        status=#{status},
        mintemp=#{mintemp},
        maxtemp=#{maxtemp},
        minhum=#{minhum},
        maxhum=#{maxhum},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete cold_hub 
        where rowid=#{rowid}
	</delete>
</mapper>