<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.coldwarn">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.coldwarn">
		select * from cold_warn where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.coldwarn"  resultType="com.frd.model.coldwarn">
		select * from cold_warn where
        warncode=#{warncode} and
        warnname=#{warnname} and
        warntype=#{warntype} and
        threshold=#{threshold} and
        notifytype=#{notifytype} and
        notifyinterval=#{notifyinterval} and
        notifyaddr=#{notifyaddr} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.coldwarn" >
		insert cold_warn （
        warncode,
        warnname,
        warntype,
        threshold,
        notifytype,
        notifyinterval,
        notifyaddr,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{warncode},
        #{warnname},
        #{warntype},
        #{threshold},
        #{notifytype},
        #{notifyinterval},
        #{notifyaddr},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update cold_warn 
        set 
        warncode=#{warncode},
        warnname=#{warnname},
        warntype=#{warntype},
        threshold=#{threshold},
        notifytype=#{notifytype},
        notifyinterval=#{notifyinterval},
        notifyaddr=#{notifyaddr},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete cold_warn 
        where rowid=#{rowid}
	</delete>
</mapper>