<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.pltpallet">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.pltpallet">
		select * from plt_pallet where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.pltpallet"  resultType="com.frd.model.pltpallet">
		select * from plt_pallet where
        pltname=#{pltname} and
        plttype=#{plttype} and
        qty=#{qty} and
        status=#{status} and
        remark=#{remark} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.pltpallet" >
		insert plt_pallet （
        pltname,
        plttype,
        qty,
        status,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{pltname},
        #{plttype},
        #{qty},
        #{status},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update plt_pallet 
        set 
        pltname=#{pltname},
        plttype=#{plttype},
        qty=#{qty},
        status=#{status},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete plt_pallet 
        where rowid=#{rowid}
	</delete>
</mapper>