<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.PltPalletMapper">
	<resultMap id="baseResultMap" type="com.frd.model.PltPallet">
		<result column="rowid" property="rowid" />
		<result column="pltname" property="pltname" />
		<result column="plttype" property="plttype" />
		<result column="qty" property="qty" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addPltPallet" parameterType="com.frd.model.PltPallet" >
		insert into plt_pallet (
        pltname,
        plttype,
        qty,
        status,
        remark,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{pltname},
        #{plttype},
        #{qty},
        #{status},
        #{remark},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deletePltPallet">
		delete from plt_pallet 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOnePltPallet"  resultType="com.frd.model.PltPallet">
		select * from plt_pallet where rowid=#{rowid}
	</select>
    <select id="getAllPltPallet" resultMap="baseResultMap" >
		select * from plt_pallet 
   <where>
		<if test="cm.plttype != null and cm.plttype != ''">
		and plttype like CONCAT('%',#{cm.plttype},'%')
		</if>
		<if test="cm.pltname != null and cm.pltname != ''">
		and pltname like CONCAT('%',#{cm.pltname},'%')
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updatePltPallet">
		update plt_pallet 
        set 
        pltname=#{pltname},
        plttype=#{plttype},
        qty=#{qty},
        status=#{status},
        remark=#{remark},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>