<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.ProjContractMapper">
	<resultMap id="baseResultMap" type="com.frd.model.ProjContract">
		<result column="rowid" property="rowid" />
		<result column="contractcode" property="contractcode" />
		<result column="contractname" property="contractname" />
		<result column="contracttype" property="contracttype" />
		<result column="status" property="status" />
		<result column="customer" property="customer" />
		<result column="startdt" property="startdt" />
		<result column="enddt" property="enddt" />
		<result column="url" property="url" />
		<result column="creator" property="creator" />
		<result column="createdt" property="createdt" />
		<result column="modifyby" property="modifyby" />
		<result column="modifydt" property="modifydt" />
	</resultMap>
      <!--新增-->
	<insert id="addProjContract" parameterType="com.frd.model.ProjContract" >
		insert into proj_contract (
        contractcode,
        contractname,
        contracttype,
        status,
        customer,
        startdt,
        enddt,
        url,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{contractcode},
        #{contractname},
        #{contracttype},
        #{status},
        #{customer},
        #{startdt},
        #{enddt},
        #{url},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
     <!--删除-->
     <delete id="deleteProjContract">
		delete from proj_contract 
        where rowid=#{rowid}
	</delete>
    <!--查询-->
	<select id="getOneProjContract" >
		select * from proj_contract where rowid=#{rowid}
	</select>
    <select id="getAllProjContract" resultMap="baseResultMap" >
		select * from proj_contract 
   <where>
		<if test="cm.boxcode != null and cm.boxcode != ''">
		and boxcode like CONCAT('%',#{cm.boxcode},'%')
		</if>
		<if test="cm.boxname != null and cm.boxname != ''">
		and boxname like CONCAT('%',#{cm.boxname},'%')
		</if>
		<if test="cm.boxtype != null and cm.boxtype != ''">
		and boxtype like CONCAT('%',#{cm.boxtype},'%')
		</if>
		<if test="cm.startDate != null and cm.startDate != ''">
		and createdt &gt; = #{cm.startDate}
		</if>
		<if test="cm.endDate != null and cm.endDate != ''">
		and createdt &lt; = #{cm.endDate}
		</if>
    </where>
	</select>
   
	 <!--修改-->
	<update id="updateProjContract">
		update proj_contract 
        set 
        contractcode=#{contractcode},
        contractname=#{contractname},
        contracttype=#{contracttype},
        status=#{status},
        customer=#{customer},
        startdt=#{startdt},
        enddt=#{enddt},
        url=#{url},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
</mapper>