<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.frd.mapper.projcontract">
    <!--查询-->
	<select id="selectOne" resultType="com.frd.model.projcontract">
		select * from proj_contract where rowid=#{rowid}
	</select>
    <select id="selectList" parameterType="com.frd.model.projcontract"  resultType="com.frd.model.projcontract">
		select * from proj_contract where
        contractcode=#{contractcode} and
        contractname=#{contractname} and
        contracttype=#{contracttype} and
        status=#{status} and
        customer=#{customer} and
        startdt=#{startdt} and
        enddt=#{enddt} and
        url=#{url} and
        creator=#{creator} and
        createdt=#{createdt} and
        modifyby=#{modifyby} and
        modifydt=#{modifydt}
	</select>
     <!--新增-->
	<insert id="add" parameterType="com.frd.model.projcontract" >
		insert proj_contract （
        contractcode,
        contractname,
        contracttype,
        status,
        customer,
        startdt,
        enddt,
        url,
        creator,
        createdt,
        modifyby,
        modifydt)
        values(
        #{contractcode},
        #{contractname},
        #{contracttype},
        #{status},
        #{customer},
        #{startdt},
        #{enddt},
        #{url},
        #{creator},
        #{createdt},
        #{modifyby},
        #{modifydt})
	</insert>
	 <!--修改-->
	<update id="update">
		update proj_contract 
        set 
        contractcode=#{contractcode},
        contractname=#{contractname},
        contracttype=#{contracttype},
        status=#{status},
        customer=#{customer},
        startdt=#{startdt},
        enddt=#{enddt},
        url=#{url},
        creator=#{creator},
        createdt=#{createdt},
        modifyby=#{modifyby},
        modifydt=#{modifydt}
        where rowid=#{rowid}
	</update>
    <delete id="delete">
		delete proj_contract 
        where rowid=#{rowid}
	</delete>
</mapper>